includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  excludePaths:
    - *GetArticlesParams*
    - *CreateFromVarMap*
