includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  bootstrap: null
  autoload_files: null
  excludes_analyse:
    - *GetArticlesParams*
    - *CreateFromVarMap*
  ignoreErrors:
    - '#Method .* has no return typehint specified.#'
    - '#Method .* has parameter .* with no typehint specified.#'
    - '#Property .* has no typehint specified.#'
    - '#.* should be covariant with return type.*#'
    -
      message: '#Parameter \#1 \$function of function call_user_func expects callable.*#'
      path: *GetArrayOfType.php
    -
      message: '#Parameter \#1 \$messages of static method.*#'
      path: *GetArrayOfInt.php
